<div class="row">
      <div class="medium-3 columns">

                              <div class="card">
                                    <img src="assets/img/agregat.jpg">
                                    <div class="card-section">
                                          <h4  class="card__title">Простое агрегатирование</h4>
                                          <p>Агрегатирование с трактором является действительно простым.</p>
                                    </div>
                              </div>

      </div>
      <div class="medium-3 columns">
                              <div class="card">
                                    <img src="assets/img/diski.jpg">
                                    <div class="card-section">
                                          <h4 class="card__title">Литые диски<br> Ø 530 мм</h4>
                                          <p>Рабочими органами являются гладкие и зубчатые литые колеса.</p>
                                    </div>
                              </div>
      </div>
      <div class="medium-3 columns">

                              <div class="card">
                                    <img src="assets/img/kolca.jpg">
                                    <div class="card-section">
                                          <h4  class="card__title">Прочные 4-х спицевые кольца</h4>
                                          <p>Простое управление с помощью только одного гидроцилиндра.</p>
                                    </div>
                              </div>
      </div>
      <div class="medium-3 columns">

                              <div class="card">
                                    <img src="assets/img/transportirovka.jpg">
                                    <div class="card-section">
                                          <h4  class="card__title">Простая транспортировка</h4>
                                          <p>Благодаря малым размерам транспортировка по дорогам является очень простой.</p>
                                    </div>
                              </div>
      </div>


</div>
