<section class="contact-us-section" id="contacts">
  <div class="row medium-unstack">
    <div class="columns contact-us-section-left">
      <h3 class="contact-us__title">Контакты</h3>

                        <ul class="contact-list">


                              <li class="contact-list__item">
                                    <span class="contact-list__icon-holder"><svg class="icon icon-mobile"><use xlink:href="assets/img/sprite.svg#icon-mobile"></use></svg></span>
                              8 (4572) 72 15 31
                              </li>

                              <li class="contact-list__item">
                                    <span class="contact-list__icon-holder"><svg class="icon icon-mobile"><use xlink:href="assets/img/sprite.svg#icon-location2"></use></svg></span>
                                    392002 г.Тамбов,  ул.Советская,  д.34
                              </li>

                              <li class="contact-list__item">
                                        <span class="contact-list__icon-holder"><svg class="icon icon-mobile"><use xlink:href="assets/img/sprite.svg#icon-envelop"></use></svg></span>
                                    molotkatok@gmail.com
                              </li>
                        </ul>
      <iframe src="https://api-maps.yandex.ru/frame/v1/-/CBQmb4dH0C" width="560" height="400" frameborder="0"></iframe>
    </div>
    <div class="columns contact-us-section-right">

      <form id="forma" class="contact-us-form"  method="post" data-abide novalidate>


		<!-- Hidden Required Fields -->
		<input type="hidden" name="project_name" value="MolotKatok">
		<input type="hidden" name="admin_email" value="rvwdude@gmail.com">
		<input type="hidden" name="form_subject" value="Заявка Катки Молот">
		<!-- END Hidden Required Fields -->

          <h3 class="contact-us__title">Задать вопрос</h3>
          <p>Наш специалист свяжется с вами в течении 20 минут</p>
        <input name="Name"  type="text" placeholder="Имя" required pattern="text">
            <div data-abide-error class="alert callout" style="display: none;">
                  <p><i class="fi-alert"></i>Введите имя</p>
            </div>
        <input name="E-mail" type="email" placeholder="Email" required>
                    <div data-abide-error class="alert callout" style="display: none;">
                          <p><i class="fi-alert"></i>Введите Email</p>
                    </div>
        <textarea name="Message" rows="12" placeholder="Текст сообщения/вопроса"></textarea>
        <div class="contact-us-form-actions">
          <input type="submit" class="button" value="Отправить" />

        </div>
      </form>


      <!-- POSTFORM -->

      <div class="formsent">
            <div class="formsent-inner">
              <h1>Спасибо за заявку</h1>
              <p>В ближайшее время наш менеджер свяжется с вами.</p>
             </div>
      </div>

    </div>



  </div>
</section>


<hr>
<div class="row">
      <p>© 2017 группа компаний «Молот»</p>
</div>
