<section class="intro-section">
<div class="row">
      <div class="meidum-6 columns">
            <h2 class="intro__title" id="katki">Кэмбриджские катки «Молот»</h2>
            <p>Катки «Молот » используются для подготовки посевного ложа, прикатывания после весеннего сева, прикатывания после осеннего сева, прогревания почвы, создания благоприятных условий для работы сеялок, посева промежуточных культур</p>
            <ul class="intro-list">
                  <li class="intro-list__item">
                        <span class="intro-list__icon-holder"><svg class="intro-list__icon"><use xlink:href="assets/img/sprite.svg#icon-checkmark"></use></svg></span>
                        Под любые площади и трактор. Модели с шириной захвата от 6 до 12 метров</li>
                  <li class="intro-list__item">
                        <span class="intro-list__icon-holder"><svg class="intro-list__icon"><use xlink:href="assets/img/sprite.svg#icon-checkmark"></use></svg></span>
                        Плавная прикатка, большая проходимость и возможность работы на больших скоростях (большой вес катка)</li>
                  <li class="intro-list__item">
                        <span class="intro-list__icon-holder"><svg class="intro-list__icon"><use xlink:href="assets/img/sprite.svg#icon-checkmark"></use></svg></span>
                        Долгий срок службы, износостойкая порошковая покраска, долговечность рамы и рабочих элементов</li>
            </ul>
      </div>
      <div class="meidum-6 columns">
            <div class="row align-center">
                  <div class="product-image-gallery">
                        <img class="pdp-product-image" id="main-product-image" src="assets/img/katok01.jpg" alt="">
                  <br>
                        <ul class="menu product-thumbs align-center">
                              <li> <a class="sim-thumb" data-image="assets/img/katok01.jpg"><img src="assets/img/katok01.jpg" alt=""></a> </li>
                              <li> <a class="sim-thumb" data-image="assets/img/katok02.jpg"><img src="assets/img/katok02.jpg" alt=""></a> </li>
                              <li> <a class="sim-thumb" data-image="assets/img/katok03.jpg"><img src="assets/img/katok03.jpg" alt=""></a> </li>
                              <li> <a class="sim-thumb" data-image="assets/img/katok04.jpg"><img src="assets/img/katok04.jpg" alt=""></a> </li>
                        </ul>
                  </div>
            </div>
      </div>
 </div>


</section>


<section class="callback-section">
      <div class="row align-justify">
            <div class="medium-7 columns">
                  <h2 class="callback__title">Вас заинтересовало наше решение?</h2>
            </div>
            <div class="medium-5 columns">
                  <p>Хотите получить больше информации, предложение или демонстрацию агрегата?</p>
                  <a href="#" class="button expanded" data-open="callback-modal">Обращайтесь к нам</a>
            </div>
</div>
</section>
