<div class="reveal" id="callback-modal" data-reveal data-animation-in="fade-in fade-out">
            <button class="close-button" data-close aria-label="Close modal" type="button">
                  <span aria-hidden="true">&times;</span>
            </button>
            <form class="contact-us-form">
                <h3 class="contact-us__title contact-us__title--modal">Бесплатная консультация</h3>
                <p>Наш специалист свяжется с вами в течении 20 минут</p>
              <input type="text" placeholder="Имя">
              <input type="email" placeholder="Email">
              <input type="tel" placeholder="Ваш телефон">

              <div class="contact-us-form-actions">
                <input type="submit" class="button" value="Отправить" />
              </div>
            </form>
</div>
