<div class="topnav">
      <div class="row">
            <div class="medium-8 columns">


                  <div class="iconbox iconbox--first">
                        <span class="icon-holder"><svg class="icon icon-mobile"><use xlink:href="assets/img/sprite.svg#icon-mobile"></use></svg></span>
                        <span class="iconbox__desc">8 (4572) 72 15 31</span>
                  </div>
                  <div class="iconbox">
                        <span class="icon-holder"><svg class="icon icon-mobile"><use xlink:href="assets/img/sprite.svg#icon-location2"></use></svg></span>
                        <span class="iconbox__desc">Тамбов, Советская 34</span>
                  </div>
                  <div class="iconbox">
                        <span class="icon-holder"><svg class="icon icon-mobile"><use xlink:href="assets/img/sprite.svg#icon-envelop"></use></svg></span>
                        <span class="iconbox__desc">molotkatok@gmail.com</span>
                  </div>



            </div>
            <div class="medium-4 columns text-right">
                  <a href="#" class="callback-button" data-open="callback-modal">
                        <svg class="icon icon-button"><use xlink:href="assets/img/sprite.svg#icon-mobile"></use></svg>
                        Заказать звонок</a>
            </div>
      </div>
</div>


<div class="navbar row">

            <div class="medium-3 columns">
                  <svg class="icon-logo"><use xlink:href="assets/img/sprite.svg#icon-logo"></use></svg>
            </div>

                  <ul class="medium-9 columns menu align-right" data-magellan data-options="animationEasing: linear; animationDuration: 300;">
                        <li><a class="menu__link" href="#katki" data-smooth-scroll>Катки молот</a></li>
                        <li><a class="menu__link"  href="#konst" data-smooth-scroll>Конструкция</a></li>
                        <li><a class="menu__link"  href="#video">Видео демонстрация</a></li>
                        <li><a class="menu__link"  href="#contacts">Контакты</a></li>

                  </ul>


</div>
