<section class="tabs-wrapper">
<div class="row">

      <ul class="tabs" data-tabs id="main-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Конструкция и обслуживание</a></li>
            <li class="tabs-title"><a href="#panel2">Концепт</a></li>
            <li class="tabs-title"><a href="#panel3">Технические параметры</a></li>

      </ul>

      <div class="tabs-content" data-tabs-content="main-tabs">
            <div class="tabs-panel is-active" id="panel1">
                  <div class="row">
                        <div class="column">
                              <h2 class="tabs__title" id="konst">Мощная конструкция и простое обслуживание</h2>
                              <p>Легированная высокопрочностная сталь и износостойкая порошковая покраска
                                    гарантируют долговечность рамы и рабочих элементов, в любых, даже самых тяжелых
                                      условиях. Благодаря минимальному  количеству мест регулировки и мест смазки
                                       обслуживание, регулировка и упрвление представляют собой очень простой процесс, с которым сможет справиться каждый.</p>
                        </div>
                  </div>
                   {{> cards}}

            </div>
            <div class="tabs-panel" id="panel2">
                   {{> concept}}
            </div>
            <div class="tabs-panel" id="panel3">
                   {{> table}}
            </div>


      </div>

</div>
</section>
